<template>
  <AddTodoForm />
</template>

<script>
  import AddTodoForm from '@/components/AddTodoForm.vue'

  export default {
    name: 'Add',
    components: {
      AddTodoForm
    }
  }
</script>