<template>
  <CalendarView/>
</template>

<script>
import CalendarView from '@/components/CalendarView.vue'

export default {
  name: 'Calendar',
  components: {
    CalendarView
  }
}
</script>
