<template>
  <CreateAccountForm/>
</template>

<script>
import CreateAccountForm from '@/components/CreateAccountForm.vue'
export default {
    name: 'CreateAccount',
    components: {
      CreateAccountForm
    }
  }
</script>