<template>
  <EditTodoForm />
</template>

<script>
  import EditTodoForm from '@/components/EditTodoForm.vue'

  export default {
    name: 'Edit',
    components: {
      EditTodoForm
    }
  }
</script>