<template>
  <ResetPasswordForm/>
</template>

<script>
import ResetPasswordForm from '@/components/ResetPasswordForm.vue'
export default {
    name: 'ResetPassword',
    components: {
      ResetPasswordForm
    }
  }
</script>