<template>
  <ChangeSettingsForm />
</template>

<script>
import ChangeSettingsForm from '@/components/ChangeSettingsForm.vue'

export default {
  name: 'Settings',
  components: {
    ChangeSettingsForm
  }
}
</script>
