<template>
  <div>
    <form @submit.prevent="add_list()">
      <div class="row justify-content-end">
        <div class="col-12 mb-3">
          <div class="input-wrap">
            <label>Name</label>
            <input type="text" v-model="list.name" />
          </div>
        </div>
        <div class="col-12 mb-3">
          <Compact v-model="list.color" />
        </div>
        <div class="col-6">
          <button
            :class="[list.name === '' || list.color === '' ? 'disabled' : '']"
            type="submit"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import store from "@/vuex"
import { Compact } from "vue-color"

export default {
  name: "AddListForm",
  components: {
    Compact,
  },
  data() {
    return {
      list: {
        id: Date.now(),
        name: "",
        color: "#fff",
      },
    };
  },
  methods: {
    add_list() {
      this.list.color = this.list.color.hex
      store.dispatch("todo/add_list", this.list)
      this.list = {
        id: Date.now(),
        name: "",
        color: "",
      }
    },
  },
};
</script>

<style scoped>
button {
  padding: 10px 20px;
  background: #4fc08d;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: 0.3s;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 3px 2px 5px #b9b9b9;
}
</style>