<template>
  <div>
    <form @submit.prevent="addTodo()">
      <div class="row justify-content-end">
        <div class="col-12 mb-3">
          <div class="input-wrap">
            <label>Title</label>
            <input type="text" v-model.trim="todo.title" />
          </div>
        </div>
        <div class="col-12 mb-3">
          <Datepicker
            :disabled-dates="disabledDates"
            v-model="todo.date"
            :inline="true"
            :monday-first="true"
            wrapper-class="h-100"
            input-class="datepicker-input"
          />
        </div>
        <div class="col-12 mb-3">
          <span
            v-if="showPriority === false"
            class="link"
            @click="showPriority = true"
            >Change priority +</span
          >
          <div v-if="showPriority" class="row">
            <div class="col-4">
              <label
                :class="[{ selected: todo.priority === 3 }, 'low priority']"
                >Low<input type="radio" :value="3" v-model="todo.priority" />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
            <div class="col-4">
              <label
                :class="[{ selected: todo.priority === 2 }, 'medium priority']"
                >Normal<input type="radio" :value="2" v-model="todo.priority" />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
            <div class="col-4">
              <label
                :class="[{ selected: todo.priority === 1 }, 'high priority']"
                >High<input type="radio" :value="1" v-model="todo.priority" />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <span v-if="showList === false" class="link" @click="showList = true"
            >Add to list +</span
          >
          <div v-if="showList" class="row align-items-center">
            <div class="col-6">
              <div v-if="lists.length > 0">
                <div class="input-wrap">
                  <label>List</label>
                  <select v-model="todo.list">
                    <option
                      v-for="(list, key) in lists"
                      :key="key"
                      :value="list"
                    >
                      {{ list.name }}
                    </option>
                  </select>
                </div>
              </div>
              <span v-else class="link" @click="createList()"
                >Create a list</span
              >
            </div>
            <div class="col-6">
              <div
                v-if="todo.list"
                :style="{ backgroundColor: listColor }"
                class="list-color"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <span
            v-if="showNotes === false"
            class="link"
            @click="showNotes = true"
            >Add notes +</span
          >
          <div class="input-wrap" v-if="showNotes">
            <label>Notes</label>
            <textarea v-model.trim="todo.notes"></textarea>
          </div>
        </div>
        <div class="col-6 mb-3 text-right">
          <input
            :class="[todo.title === '' || todo.date === '' ? 'disabled' : '']"
            type="submit"
            value="Add"
          />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker"
import _ from "lodash"
import { mapMutations, mapState } from "vuex"
import store from "@/vuex"

export default {
  name: "AddTodoForm",
  components: {
    Datepicker,
  },
  data() {
    return {
      todo: {
        id: Date.now(),
        title: "",
        completed: false,
        date: "",
        notes: "",
        priority: 2,
        list: "",
      },
      disabledDates: {
        to: new Date(Date.now() - 86400000),
      },
      showNotes: false,
      showPriority: false,
      showList: false,
    };
  },
  computed: {
    ...mapState("todo", ["lists"]),
    user_id_token() {
      return store.state.aws.user.idToken.jwtToken
    },
    listColor() {
      return this.todo.list
        ? _.find(this.lists, { name: this.todo.list.name }).color
        : "";
    },
  },
  methods: {
    addTodo() {
      store.dispatch("todo/add_todo",{
        todo: this.todo,
        token: this.user_id_token
      })
      this.todo = {
        id: Date.now(),
        title: "",
        completed: false,
        date: "",
        notes: "",
        priority: 2,
        list: "",
      };
      this.showNotes = false;
      this.showList = false;
      this.showPriority = false;
      this.$router.go(-1);
    },
    createList() {
      this.$router.push("/lists");
    },
  },
};
</script>

<style>
form {
  margin-bottom: 20px;
}
.datepicker-input {
  width: 100%;
  padding: 10px;
}
input[type="submit"] {
  padding: 10px 20px;
  background: #4fc08d;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: 0.3s;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 3px 2px 5px #b9b9b9;
}
.today {
  background-color: #4fc08d26;
}
.link {
  text-decoration: underline;
  color: #000;
  font-style: italic;
  cursor: pointer;
}
.priority {
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 0 2px 0px #cccccc;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 3px 2px 5px #b9b9b9;
}
.priority.selected {
  transform: scale(1.1);
}
.priority svg {
  height: 10px;
  transition: 0.1s;
  transform: scale(0);
  margin-left: 10px;
}
.priority input:checked + svg {
  transform: scale(1.3);
}
.priority input {
  display: none;
}
.low {
  background-color: #4fbbe0;
  color: #ffffff;
}
.medium {
  background-color: #e8a316;
  color: #ffffff;
}
.high {
  background-color: #e64343;
  color: #ffffff;
}
.list-color {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  box-shadow: 3px 2px 5px #b9b9b9;
}
</style>