<template>
  <div>
    <div v-if="todos.length > 0">
      <div class="mb-3">
        <Datepicker
          :monday-first="true"
          @selected="selectDate($event)"
          :highlighted="highlightedDates"
          :inline="true"
        />
      </div>
      <div>
        <h6>
          Showing tasks for <i>{{ selectedDateFormatted }}</i>
        </h6>
        <ul v-if="specificDateTodos.length > 0">
          <TodoItem
            :showDate="false"
            :todo="todo"
            :key="index"
            v-for="(todo, index) in specificDateTodos"
            >{{ todo.title }}</TodoItem
          >
        </ul>
        <p v-else class="text-left">
          No tasks for this day!
          <router-link class="link" to="/add">Add a task</router-link>
        </p>
      </div>
    </div>
    <div v-else>
      <p class="text-center">
        You have nothing on!
        <router-link class="link" to="/add">Add a task</router-link>
      </p>
    </div>
  </div>
</template>


<script>
import Datepicker from "vuejs-datepicker"
import moment from "moment"
import { mapState, mapMutations, mapGetters } from "vuex"
import TodoItem from "./TodoItem.vue"

export default {
  name: "CalendarView",
  components: {
    Datepicker,
    TodoItem,
  },
  data() {
    return {
      highlightedDates: {
        dates: [],
      },
    };
  },
  computed: {
    ...mapState("todo", ["selectedDate", "todos"]),
    ...mapGetters("todo", ["specificDateTodos", "dates"]),
    selectedDateFormatted() {
      return moment(this.selectedDate).format("DD/MM/YYYY");
    },
  },
  methods: {
    ...mapMutations("todo",["SELECT_DATE"]),
    selectDate(date) {
      this.SELECT_DATE(date);
    },
  },
  created() {
    this.highlightedDates.dates = this.dates;
  },
  beforeUpdate() {
    this.highlightedDates.dates = this.dates;
  },
};
</script>

<style scoped>
ul {
  margin: 0;
  padding: 0;
}
ul li {
  padding: 15px;
}
.link {
  font-style: italic;
  color: #000;
  text-decoration: underline;
}
</style>