<template>
  <div>
    <label><b>Font size</b></label>
    <br />
    <input
      :checked="settings.fontSize === 'small'"
      name="font"
      type="radio"
      @change="change_font($event)"
      value="small"
    />
    Small
    <br />
    <input
      :checked="settings.fontSize === 'medium'"
      name="font"
      type="radio"
      @change="change_font($event)"
      value="medium"
    />
    Medium
    <br />
    <input
      :checked="settings.fontSize === 'large'"
      name="font"
      type="radio"
      @change="change_font($event)"
      value="large"
    />
    Large
    <br />
    <br />
    <p><b>FAQ</b></p>
    <p class="mb-1"><b>Q.</b> What is this app built in?</p>
    <p><b>A.</b> It's built with VueJS, Vuex and VueRouter.</p>
    <p class="mb-1"><b>Q.</b> Why Vue? Why not React?</p>
    <p><b>A.</b> Why not both? I have an identical app built in React, but it isn't hosted anywhere.</p>
    <p class="mb-1"><b>Q.</b> What about all the server and back-end?</p>
    <p><b>A.</b> It's hosted on Bitbucket Pages, but there is a relatively complex API that's backed by AWS.</p>
    <p class="mb-1"><b>Q.</b> AWS, that's cool, but what AWS services did you use?</p>
    <p><b>A.</b> Cognito, API Gateway, SQS, Lambda and DynamoDB.</p>
    <p class="mb-1"><b>Q.</b> Wait a second! There's no servers to worry about?</p>
    <p><b>A.</b> Well there are servers, but AWS is responsible for those. There's nothing I need to worry about for server infrastructure. All serverless!</p>
    <hr>
    <div class="row">
      <div class="col-6 mb-3">
        <button class="btn w-100" @click="reset_app()">RESET APP</button>
      </div>
      <div class="col-6 mb-3">
        <button class="btn w-100" @click="logout()">LOG OUT <img style="height:15px;width:15px;margin-bottom:3px;margin-left:3px;" src="@/assets/logout.svg"/></button>
      </div>
      <div class="col-6 mb-3">
        <button class="btn w-100" @click="delete_account()">DELETE ACCOUNT</button>
      </div>
    </div>
  </div>
</template>


<script>
import store from "@/vuex"
import router from "@/router"

export default {
  name: "ChangeSettingsForm",
  computed: {
    settings() {
      return store.state.settings
    }
  },
  methods: {
    change_font({ target }) {
      store.commit("CHANGE_FONT", target.value)
    },
    reset_app() {
      this.$dialog.confirm("Delete all tasks and reset app?")
      .then(() => {
        store.dispatch("todo/reset_app")
        router.push("/");
      })
    },
    logout() {
      store.dispatch("aws/AWS_logout")
      .then((res) => {
        router.push("/login");
      })
      .catch((err) => {
        router.push("/login");
      });
    },
    delete_account() {
      this.$dialog.confirm("This will delete your entire account and log you out. Continue?")
      .then(() => {
        store.dispatch("aws/AWS_delete_account");
        router.push("/create-account");
      })
    },
  },
};
</script>

<style scoped>
.btn {
  background-color: #ff7a7a;
  border-radius: 20px;
}
</style>
