<template>
  <form @submit.prevent="create_account()">
    <h6 class="mb-4">Create Account</h6>
    <div v-if="account_msg === ''">
      <div class="input-wrap mb-3">
        <label>Email</label>
        <input type="email" v-model="email" />
      </div>
      <div class="input-wrap mb-3">
        <label>Password</label>
        <input type="password" autocomplete="current-password" v-model="password" />
      </div>
      <div class="input-wrap mb-3">
        <label>Confirm password</label>
        <input type="password" autocomplete="current-password" v-model="confirm_password" />
      </div>
      <input :class="[submitting || (password !== confirm_password) || password.length < 6 ? 'disabled' : '']" type="submit" :value="[submitting ? 'Working...' : 'Sign up']" />
      <p class="text-center mb-0 mt-2" v-if="account_msg !== ''"></p>
      <br /><br />
      <p class="text-center">
        Or <br /><br /><router-link to="/login">Login</router-link>
      </p>
    </div>
    <div v-else>
      <p>
        {{ account_msg }} Then go to <router-link to="/login">login</router-link> to start creating todos.
      </p>
    </div>
  </form>
</template>

<script>
import router from "@/router";
import store from "@/vuex"
export default {
  name: "CreateAccountForm",
  data() {
    return {
      email: "",
      password: "",
      confirm_password: "",
      submitting: false,
      account_msg: "",
    };
  },
  methods: {
    create_account() {
      this.submitting = true;
      store.dispatch("aws/AWS_signup", {
        user: this.email,
        password: this.password,
      })
      .then((res) => {
        this.submitting = false;
        this.account_msg = res;
      })
      .catch((err) => {
        this.submitting = false;
        this.$dialog.alert(err.message);
      });
    },
  },
};
</script>