<template>
  <div>
    <form @submit.prevent="edit()">
      <div class="row justify-content-end">
        <div class="col-12 mb-3">
          <div class="input-wrap">
            <label>Title</label>
            <input type="text" v-model.trim="editTodo.title" />
          </div>
        </div>
        <div class="col-12 mb-3">
          <Datepicker
            :disabled-dates="disabledDates"
            v-model="editTodo.date"
            :inline="true"
            :monday-first="true"
            wrapper-class="h-100"
            input-class="datepicker-input"
          />
        </div>
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col-4">
              <label
                :class="[{ selected: editTodo.priority === 3 }, 'low priority']"
                >Low<input
                  type="radio"
                  :value="3"
                  v-model="editTodo.priority"
                />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
            <div class="col-4">
              <label
                :class="[
                  { selected: editTodo.priority === 2 },
                  'medium priority',
                ]"
                >Normal<input
                  type="radio"
                  :value="2"
                  v-model="editTodo.priority"
                />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
            <div class="col-4">
              <label
                :class="[
                  { selected: editTodo.priority === 1 },
                  'high priority',
                ]"
                >High<input
                  type="radio"
                  :value="1"
                  v-model="editTodo.priority"
                />
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  class=""
                >
                  <path
                    fill="currentColor"
                    d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                    class=""
                  ></path>
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="row align-items-center">
            <div class="col-6">
              <div v-if="lists.length > 0">
                <div class="input-wrap">
                  <label>List</label>
                  <select v-model="editTodo.list">
                    <option
                      v-for="(list, key) in lists"
                      :key="key"
                      :value="list"
                    >
                      {{ list.name }}
                    </option>
                  </select>
                </div>
              </div>
              <span v-else class="link" @click="createList()"
                >Create a list</span
              >
            </div>
            <div class="col-6">
              <div
                v-if="editTodo.list"
                :style="{ backgroundColor: editTodo.list.color }"
                class="list-color"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="input-wrap">
            <label>Notes</label>
            <textarea v-model.trim="editTodo.notes"></textarea>
          </div>
        </div>
        <div class="col-6 mb-3 text-right">
          <input type="submit" value="Save & close" />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker"
import { mapMutations, mapState } from "vuex"
import store from "@/vuex"

export default {
  name: "EditTodoForm",
  components: {
    Datepicker,
  },
  data() {
    return {
      disabledDates: {
        to: new Date(Date.now() - 86400000),
      },
    };
  },
  methods: {
    edit() {
      store.dispatch("todo/update_todo", {
        todo: this.editTodo,
        token: this.user_id_token
      })
      this.$router.go(-1);
    },
    createList() {
      this.$router.push("/lists");
    },
  },
  computed: {
    user_id_token() {
      return store.state.aws.user.idToken.jwtToken
    },
    ...mapState("todo", ["editTodo", "lists"]),
  },
};
</script>

<style>
</style>