<template>
  <header>
    <div class="row align-items-center">
      <div class="col-3 text-left">
        <router-link class="router-link" to="/">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              fill="currentColor"
              d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zM148 320h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 96h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm192 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12z"
            />
          </svg>
        </router-link>
      </div>
      <div class="col-6 text-center">
        <h6><img class="mr-2" style="height:15px;width:15px" src="@/assets/logo.png"/>{{ activeRoute }} <span v-if="loading"><img style="height:15px;width:15px" src="@/assets/loading.svg"/></span></h6>
      </div>
      <div class="col-3 text-right">
        <router-link class="router-link" to="/settings">
          <svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M482.696 299.276l-32.61-18.827a195.168 195.168 0 0 0 0-48.899l32.61-18.827c9.576-5.528 14.195-16.902 11.046-27.501-11.214-37.749-31.175-71.728-57.535-99.595-7.634-8.07-19.817-9.836-29.437-4.282l-32.562 18.798a194.125 194.125 0 0 0-42.339-24.48V38.049c0-11.13-7.652-20.804-18.484-23.367-37.644-8.909-77.118-8.91-114.77 0-10.831 2.563-18.484 12.236-18.484 23.367v37.614a194.101 194.101 0 0 0-42.339 24.48L105.23 81.345c-9.621-5.554-21.804-3.788-29.437 4.282-26.36 27.867-46.321 61.847-57.535 99.595-3.149 10.599 1.47 21.972 11.046 27.501l32.61 18.827a195.168 195.168 0 0 0 0 48.899l-32.61 18.827c-9.576 5.528-14.195 16.902-11.046 27.501 11.214 37.748 31.175 71.728 57.535 99.595 7.634 8.07 19.817 9.836 29.437 4.283l32.562-18.798a194.08 194.08 0 0 0 42.339 24.479v37.614c0 11.13 7.652 20.804 18.484 23.367 37.645 8.909 77.118 8.91 114.77 0 10.831-2.563 18.484-12.236 18.484-23.367v-37.614a194.138 194.138 0 0 0 42.339-24.479l32.562 18.798c9.62 5.554 21.803 3.788 29.437-4.283 26.36-27.867 46.321-61.847 57.535-99.595 3.149-10.599-1.47-21.972-11.046-27.501zm-65.479 100.461l-46.309-26.74c-26.988 23.071-36.559 28.876-71.039 41.059v53.479a217.145 217.145 0 0 1-87.738 0v-53.479c-33.621-11.879-43.355-17.395-71.039-41.059l-46.309 26.74c-19.71-22.09-34.689-47.989-43.929-75.958l46.329-26.74c-6.535-35.417-6.538-46.644 0-82.079l-46.329-26.74c9.24-27.969 24.22-53.869 43.929-75.969l46.309 26.76c27.377-23.434 37.063-29.065 71.039-41.069V44.464a216.79 216.79 0 0 1 87.738 0v53.479c33.978 12.005 43.665 17.637 71.039 41.069l46.309-26.76c19.709 22.099 34.689 47.999 43.929 75.969l-46.329 26.74c6.536 35.426 6.538 46.644 0 82.079l46.329 26.74c-9.24 27.968-24.219 53.868-43.929 75.957zM256 160c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64z"
              class=""
            ></path>
          </svg>
        </router-link>
      </div>
    </div>
    <div class="relative mt-2">
      <div class="banner">
        <div class="row">
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">{{ total }}</p>
            <p class="mb-0 smaller">total</p>
          </div>
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">{{ completed }}</p>
            <p class="mb-0 smaller">completed</p>
          </div>
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">{{ incomplete }}</p>
            <p class="mb-0 smaller">incomplete</p>
          </div>
          <div class="col-3 text-center">
            <p class="font-weight-bold mb-0">{{ todayTotal }}</p>
            <p class="mb-0 smaller">today</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  name: "Header",
  props: {
    activeRoute: String,
    loading: Boolean
  },
  computed: {
    ...mapGetters('todo', ["total", "completed", "incomplete", "todayTotal"]),
  },
};
</script>

<style scoped>
.router-link svg {
  color: #fff !important;
  height: 25px;
  opacity: 0.5;
  transition: 0.5s;
}
.router-link-exact-active svg {
  opacity: 1;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 15px 35px 15px;
  background: #35495e;
}
header h6 {
  color: #fff;
}
.relative {
  position: relative;
}
.banner {
  position: absolute;
  left: 0;
  top: 2px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 2px 0px #cccccc;
  padding: 10px;
}
.smaller {
  color: #b5b5b5;
  font-size: 12px;
  margin-top: -3px;
}
</style>