<template>
  <div>
    <h6 class="mb-2">Create List</h6>
    <AddListForm />
    <h6 class="mb-2">Lists</h6>
    <div v-if="lists.length > 0">
      <ListItem v-for="(list, key) in lists" :key="key" :list="list" />
    </div>
    <div v-else>You have no lists!</div>
  </div>
</template>

<script>
import ListItem from "./ListItem.vue";
import AddListForm from "./AddListForm.vue";
import { mapGetters, mapState } from "vuex";

export default {
  name: "ListsView",
  components: {
    ListItem,
    AddListForm,
  },
  computed: {
    ...mapState('todo', ["lists"]),
  },
};
</script>

<style scoped>
</style>
