<template>
  <li>
    <div class="row">
      <div class="col-10">
        <span class="text mb-1"
          ><div :style="{ backgroundColor: list.color }" class="color"></div>
          <strong>{{ list.name }}</strong>
          <span class="count"
            >- {{ listTaskCount[list.name].tasks }} task/s</span
          ></span
        >
      </div>
      <div class="col-2 text-right">
        <span title="Delete this list" @click="deleteList(list.id)" class="del"
          ><svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"
              class=""
            ></path></svg
        ></span>
      </div>
    </div>
  </li>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "ListItem",
  props: {
    list: Object,
  },
  data() {
    return {
      tasks: 0,
    };
  },
  computed: {
    ...mapGetters("todo", ["listTaskCount"]),
  },
  methods: {
    deleteList(id) {
      this.$dialog
      .confirm("Delete this list?")
      .then(() => {
        this.$store.dispatch("todo/delete_list", id)
      });
    },
  },
};
</script>

<style scoped>
li {
  padding: 15px 10px;
  list-style-type: none;
  transition: 0.2s;
  user-select: none;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 2px 0px #cccccc;
  font-size: 14px;
}
li:last-child {
  margin-bottom: 0;
}
.del {
  cursor: pointer;
}
.del svg {
  color: #ff7a7a;
  height: 16px;
}
.color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.count {
  color: #a7a7a7;
}
</style>