<template>
  <form @submit.prevent="login()">
      <h6 class="mb-4">Login</h6>
      <div class="input-wrap mb-3">
        <label>Email</label>
        <input type="email" v-model="email" />
      </div>
      <div class="input-wrap mb-3">
        <label>Password</label>
        <input type="password" autocomplete="current-password" v-model="password" />
      </div>
      <input :class="[submitting ? 'disabled' : '']" type="submit" :value="[submitting ? 'Working...' : 'Login' ]" />
      <br><br>
      <p class="text-center">Or <br><br><router-link to="/create-account">Create account</router-link> / <router-link to="/reset-password">Forgot password?</router-link></p>
  </form>
</template>

<script>
import router from '@/router'
import store  from "@/vuex"
export default {
  name: "LoginForm",
  data() {
    return {
      email: "",
      password: "",
      submitting: false,
      account_msg: ""
    }
  },
  methods: {
    login() {
      this.submitting = true
      store.dispatch("aws/AWS_login", {
        user: this.email,
        password: this.password
      })
      .then(_ => {
        this.submitting = false
        store.dispatch("todo/get_todos")
        router.push("/")
      })
      .catch(err => {
        this.submitting = false
        this.$dialog.alert(err.message)
      })
    }
  }
}
</script>