<template>
  <div>
    <div v-if="!show_confirm">
      <form @submit.prevent="submit_reset_password()">
        <h6 class="mb-4">Reset Password</h6>
        <div class="input-wrap mb-3">
          <label>Email</label>
          <input type="email" v-model="email" />
        </div>
        <input :class="[submitting || email.length < 5 ? 'disabled' : '']" type="submit" :value="[submitting ? 'Working...' : 'Reset' ]" />
      </form>
    </div>
    <div v-else>
      <form @submit.prevent="submit_password_reset_code()">
        <h6 class="mb-4">Reset Password</h6>
        <div class="input-wrap mb-3">
          <label>Code</label>
          <input type="text" v-model="code" />
        </div>
        <div class="input-wrap mb-3">
          <label>New password</label>
          <input type="password" v-model="new_password" />
        </div>
        <input :class="[submitting ? 'disabled' : '']" type="submit" :value="[submitting ? 'Working...' : 'Submit' ]" />
      </form>
    </div>
    <p class="text-center">Or <br><br><router-link to="/create-account">Create account</router-link> / <router-link to="/login">Login</router-link></p>
  </div>
</template>

<script>
import router from '@/router'
import store  from "@/vuex"
export default {
  name: "ResetPasswordForm",
  data() {
    return {
      submitting: false,
      show_confirm: false,
      email: "",
      password: "",
      account_msg: "",
      new_password: "",
      code: ""
    }
  },
  methods: {
    submit_reset_password() {
      this.submitting = true
      store.dispatch("aws/AWS_request_reset_password", {
        username: this.email,
      })
      .then(_ => {
        this.submitting = false
        this.show_confirm = true
      })
      .catch(err => {
        this.submitting = false
        this.$dialog.alert(err)
      })
    },
    submit_password_reset_code() {
      this.submitting = true
      store.dispatch("aws/AWS_submit_password_reset_code", {
        username: this.email,
        code: this.code,
        new_password: this.new_password
      })
      .then(_ => {
        this.submitting = false
        router.push("/login")
      })
      .catch(err => {
        this.submitting = false
        this.$dialog.alert(err)
      })
    }
  }
}
</script>