<template>
  <li
    :class="[`priority-${todo.priority}`, { 'completed-li': todo.completed }]"
  >
    <div class="row">
      <div class="col-2">
        <p-check
          color="success"
          class="p-svg p-smooth"
          name="check"
          :checked="todo.completed"
          @change="completeTodo(todo.id)"
        >
          <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
            <path
              d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: white; fill: white"
            ></path>
          </svg>
        </p-check>
      </div>
      <div class="col-8 pl-0">
        <p class="date mb-2">
          <svg
            data-v-61dd7a3d=""
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            style="height: 12px; margin-right: 10px"
          >
            <path
              data-v-61dd7a3d=""
              fill="currentColor"
              d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16zM148 320h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 96h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-96 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm192 0h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12z"
            ></path>
          </svg>
          <i
            >{{ todoDate }}
            <span v-if="todo.list">
              - <span>{{ todo.list.name }}</span>
              <div
                :style="{ backgroundColor: todo.list.color }"
                class="list-dot"
              ></div></span
          ></i>
        </p>
        <span class="text mb-1" :class="{ complete: todo.completed }"
          >{{ todo.title }}
          <span @click="editTodo(todo)" title="Edit"
            ><svg
              class="edit-title"
              aria-hidden="true"
              focusable="false"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M493.25 56.26l-37.51-37.51C443.25 6.25 426.87 0 410.49 0s-32.76 6.25-45.26 18.74L12.85 371.12.15 485.34C-1.45 499.72 9.88 512 23.95 512c.89 0 1.78-.05 2.69-.15l114.14-12.61 352.48-352.48c24.99-24.99 24.99-65.51-.01-90.5zM126.09 468.68l-93.03 10.31 10.36-93.17 263.89-263.89 82.77 82.77-263.99 263.98zm344.54-344.54l-57.93 57.93-82.77-82.77 57.93-57.93c6.04-6.04 14.08-9.37 22.63-9.37 8.55 0 16.58 3.33 22.63 9.37l37.51 37.51c12.47 12.48 12.47 32.78 0 45.26z"
                class=""
              ></path></svg></span
        ></span>
        <p
          class="mb-0 show-notes"
          v-if="todo.notes !== ''"
          @click="showNotes = !showNotes"
        >
          <span v-if="showNotes === false">Show notes +</span
          ><span v-else>Hide notes -</span>
        </p>
        <p class="notes mb-0 mt-1" v-if="showNotes">{{ todo.notes }}</p>
      </div>
      <div class="col-2 text-right">
        <span title="Delete this task" class="del" @click="deleteTodo(todo.id)"
          ><svg
            aria-hidden="true"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"
              class=""
            ></path></svg
        ></span>
      </div>
    </div>
  </li>
</template>

<script>
import moment from "moment"
import store from "@/vuex"
import PrettyCheck from "pretty-checkbox-vue/check"

export default {
  name: "TodoItem",
  props: {
    todo: Object,
  },
  components: {
    "p-check": PrettyCheck,
  },
  data() {
    return {
      showNotes: false,
    };
  },
  computed: {
    user_id_token() {
      return store.state.aws.user.idToken.jwtToken
    },
    todoDate() {
      return moment(this.todo.date).format("dddd, MMMM Do");
    },
  },
  methods: {
    deleteTodo(id) {
      this.$dialog
      .confirm("Delete this task?")
      .then(_ => {
        store.dispatch("todo/delete_todo", {
          id,
          token: this.user_id_token
        })
      })
    },
    completeTodo(id) {
      store.dispatch("todo/complete_todo", id)
    },
    editTodo(todo) {
      store.commit("todo/SET_EDIT_TODO", todo)
      this.$router.push("/edit")
    },
  },
};
</script>

<style scoped>
@import "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css";
li {
  padding: 15px 10px;
  list-style-type: none;
  transition: 0.2s;
  user-select: none;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 2px 0px #cccccc;
  font-size: 14px;
}
li:last-child {
  margin-bottom: 0;
}
.complete {
  text-decoration: line-through;
}
.del {
  cursor: pointer;
}
.del svg {
  color: #ff7a7a;
  height: 16px;
}
.text {
  width: 100%;
  font-weight: 600;
  display: block;
}
.list-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.date {
  font-size: 12px;
  color: #b5b5b5;
}
.show-notes {
  font-size: 12px;
  color: #b5b5b5;
  text-decoration: underline;
  cursor: pointer;
}
.notes {
  font-size: 12px;
}
.completed-li {
  border-left: 4px solid green;
}
.completed-li .col-8 {
  opacity: 0.5;
}
.completed-li .date,
.completed-li .show-notes {
  display: none;
}
.edit-title {
  height: 12px;
  margin-left: 5px;
  color: #b5b5b5;
  cursor: pointer;
  transition: 0.3s;
}
.edit-title:hover {
  color: #35495e;
}
.priority-1 {
  border-left: 6px solid #e64343;
}
.priority-2 {
  border-left: 6px solid #e8a316;
}
.priority-3 {
  border-left: 6px solid #4fbbe0;
}
</style>