<template>
  <div>
    <div v-if="today.length > 0" class="mb-4">
      <h6 class="mb-2">{{ dayToday }}, Today</h6>
      <ul>
        <TodoItem :todo="todo" :key="index" v-for="(todo, index) in today">{{
          todo.title
        }}</TodoItem>
      </ul>
    </div>
    <div v-if="tomorrow.length > 0" class="mb-4">
      <h6 class="mb-2">{{ dayTomorrow }}, Tomorrow</h6>
      <ul>
        <TodoItem :todo="todo" :key="index" v-for="(todo, index) in tomorrow">{{
          todo.title
        }}</TodoItem>
      </ul>
    </div>
    <div v-if="todos.length > 0">
      <div class="row mb-3 align-items-center">
        <div class="col-6">
          <h6 class="mb-0">All tasks ({{ total }})</h6>
        </div>
        <div class="col-6 text-right">
          <span class="text-secondary mr-2 small">Sort by</span>
          <select style="width: auto" @change="sort($event)">
            <option :selected="sorted === 'asc'" value="asc">Due later</option>
            <option :selected="sorted === 'desc'" value="desc">Due soon</option>
            <option
              :selected="sorted === 'desc-priority'"
              value="desc-priority"
            >
              High priority
            </option>
            <option :selected="sorted === 'asc-priority'" value="asc-priority">
              Low priority
            </option>
          </select>
        </div>
      </div>
      <ul>
        <TodoItem :todo="todo" :key="index" v-for="(todo, index) in todos">{{
          todo.title
        }}</TodoItem>
      </ul>
    </div>
    <div v-else>
      <p class="text-center">
        You have nothing on!
        <router-link class="link" to="/add">Add a task</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";
import { mapGetters, mapMutations, mapState } from "vuex";
import moment from "moment";

export default {
  name: "Todos",
  components: {
    TodoItem,
  },
  computed: {
    ...mapGetters('todo', ["total", "today", "tomorrow"]),
    ...mapState('todo', ["todos", "sorted"]),
    dayToday() {
      return moment().format("ddd");
    },
    dayTomorrow() {
      return moment().add(1, "d").format("ddd");
    },
  },
  methods: {
    ...mapMutations('todo', ["SORT_TODOS"]),
    sort({target}) {
      this.SORT_TODOS(target.value);
    },
  },
};
</script>

<style scoped>
ul {
  margin: 0;
  padding: 0;
}
ul li {
  padding: 15px;
}
.link {
  text-decoration: underline;
  color: #000;
  font-style: italic;
}
select {
  padding: 3px;
  background: #fff;
}
</style>
