<template>
  <div id="app" :class="`${settings.fontSize}-font`">
    <div class="container">
      <Header :activeRoute="$route.name" :loading="loading" />
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"
import store  from "@/vuex"

export default {
  name: "app",
  components: {
    Header,
    Footer
  },
  computed: {
    settings() {
      return store.state.settings
    },
    loading() {
      return store.state.todo.loading
    }
  },
  created() {
    store.dispatch("todo/get_todos")
  }
}
</script>

<style>
body {
  color: #0f222d;
  background-size: auto;
  background: #f3f3f3ba !important;
  font-size: 14px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#app {
  padding-top: 135px;
  padding-bottom: 70px;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.small-font {
  font-size: 80%;
}
.medium-font {
  font-size: 100%;
}
.large-font {
  font-size: 120%;
}
.btn {
  padding: 10px 20px;
  background: #4fc08d;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: 0.3s;
}
.btn:focus {
  box-shadow: 0 0 3pt 1px #a7d2ff;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed
}
.vdp-datepicker__calendar {
  border: 1px solid #ececec !important;
}
.vdp-datepicker__calendar .cell.highlighted {
  background: transparent !important;
  position: relative;
}
.vdp-datepicker__calendar .cell.highlighted:before {
  position: absolute;
  content: "";
  top: 52%;
  left: 51%;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: #4fc08d36;
  z-index: 0;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #4fc08d !important;
}
.vdp-datepicker__calendar .cell.selected {
  background: #4fc08d !important;
  color: #fff;
}
.vdp-datepicker__calendar {
  width: 100% !important;
}
.vdp-datepicker__calendar > div {
  background-color: #fff;
}
.vc-compact {
  width: 100% !important;
  box-shadow: 0 0 2px 0px #cccccc !important
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  border: none;
  box-shadow: 0 0 2px 0px #cccccc;
  border-radius: 8px;
  background-color: #fff;
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 3px 2px #a7d2ff !important;
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  padding-top: 25px;
}
.input-wrap {
  position: relative;
}
.input-wrap label {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 14px;
  color: #a0a0a0;
}
.input-wrap input[type="text"],
input[type="password"],
input[type="email"],
.input-wrap textarea {
  padding-left: 15px;
}
.dg-content-footer {
  display: flex;
  justify-content: space-between;  
}
.dg-content-footer button {
  width: 45%;
}    
.dg-btn--ok {
  padding: 10px 20px !important;
  background-color: #4fc08d !important;
  border: none;
  cursor: pointer;
  color: #fff !important;
  transition: 0.3s;
  border-radius: 20px !important;
  font-size: 14px !important;
  letter-spacing: 1px;
  box-shadow: 3px 2px 5px #b9b9b9;
  border-color: #4fc08d !important;
  font-weight: 600 !important;
}
.dg-btn--cancel {
  padding: 10px 20px !important;
  color: #4fc08d !important;
  border: none;
  cursor: pointer;
  background-color: #fff !important;
  transition: 0.3s;
  border-radius: 20px !important;
  font-size: 14px !important;
  letter-spacing: 1px;
  box-shadow: 3px 2px 5px #b9b9b9;
  border-color: #4fc08d !important;
  font-weight: 600 !important;
}
</style>
